.navigation {
    display: inline-flex;
    background-color: var(--blue-1);
    padding: 10px;
    width: 100%;
    border: 3px solid black;
  }

.loginDiv{
  margin-left: 20px;
}

  .menuItems {
      margin: 0px 0px 0px 200px;
  }

  .navLink {
    color: blue;
  }

  .userName{
    border: 10px static black;
    font-weight: bold;
  }

  .menuItems{
    text-align: right;
  }
  