.navigation {
    display: inline-flex;
    background-color: var(--blue-1);
    margin-bottom: 1%;
    padding: 10px;
    width: 100%;
    border: 3px solid black;
  }



  .menuItems {
      margin: 0px 300px 0px 300px;
  }

  .navLink {
    color: blue;
  }

  .userName{
    border: 10px static black;
    font-weight: bold;
  }

  .menuItems{
    text-align: right;
  }
  